__     ___           
\ \   / (_)_ __ ___  
 \ \ / /| | '_ ` _ \ 
  \ V / | | | | | | |
   \_/  |_|_| |_| |_|
                     
[._]*.s[a-w][a-z]
[._]s[a-w][a-z]
*.un~
Session.vim
.netrwhist
*~

  ____ 
 / ___|
| |    
| |___ 
 \____|

# Object files
*.o
*.ko
*.obj
*.elf

# Libraries
*.lib
*.a

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

  ____            
 / ___| _     _   
| |   _| |_ _| |_ 
| |__|_   _|_   _|
 \____||_|   |_|  

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

 ____            _           _   
|  _ \ _ __ ___ (_) ___  ___| |_ 
| |_) | '__/ _ \| |/ _ \/ __| __|
|  __/| | | (_) | |  __/ (__| |_ 
|_|   |_|  \___// |\___|\___|\__|
              |__/               

# Project specific files
server
